.nav-item{
    width: 60%;
    background: black;
}

.nav-item ul li a{
    color: white;
}

.nav-item ul li{
    display: inline;
}



.contner{
    border: 2px solid black;
    width: 800px;
    height: 600px;
}