.contner1{
    bottom: 50%;
    display: grid;
    grid-template-columns: 40% 60%;
    background-image: url(../imgs/19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1%;
    border: 1px solid black;
    height: 160px;
    width: 100%;
}

ul{
    display: flex;
}

li{
    flex: 1;
}

.hcnt{
    padding: 1%;
    height: 30px;
    backdrop-filter: blur(15px);
    margin: 2% 0 0 0;
    color: black;
}

.lcontnt{
    border: 1px solid white;
    margin: 1%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imgs/31.jpg);
    height: 70px;
    width: 70px;
}

.hcontnt{
    margin: 1% 1% 0 1%;
    border: 1px solid white;
    display: flex;
}

.formcontnt{
    margin: 1% 0 0 30px;
    height: 30px;
    /* background: white; */
    width: 300px;
    /* border: 1px solid brown; */
}

.formcontnt input[type=text]{
    color: black;
    text-align: center;
    background: white;
    margin: 1%;
    width: 220px;
    height: 28px;
    border-radius: 15px;
}

.formcontnt button{
    background: white;
    width: 50px;
    border-radius: 15px;
    padding: 1%;
    font-size: 12px;
}

.formcontnt button:hover{
    border: 1px solid white;
    transition: .8s;
    cursor: pointer;
}

.navntner{
    margin-top: 1%;
    margin-left: 600px;
    width: 700px;
    border: 1px solid white;
}

.navbars{
    display: flex;
    margin: 1%;
    border: 1px solid white;
}

.navbars a{
    color: black;
}

.otherlinks{
    display: flex;
    margin: 2% 0 0 0;
}

.otherlinks button{
    background: white;
    width: 100px;
    height: 30px;
    padding: 1%;
    font-size: 12px;
    border-radius: 15px;
    padding: 1%;
    font-size: 12px;
}

.otherlinks button:hover{
    border: 1px solid white;
    transition: .8s;
    cursor: pointer;
}

.navntner li{
    margin: 2% 0 0 0;
    display: inline;
}

.contnt1{
    width: 97%;
    background: black;
    padding: 2%;
    height: 650px;
    border: 1px solid white;
}

.contnt2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../imgs/100.jpg);
    color: black;
    margin: 1%;
    height: 400px;
    width: 100%;
    border: 1px solid black;
}

.contnt2 h2{
    color: black;
    text-align: center;
}

.contnt2 .hcnt{
    backdrop-filter: blur(15px);
    margin: 1%;
}

.contnt2 .aboutus{
    padding: 1%;
    height: 50px;
    color: white;
    backdrop-filter: blur(15px);
}

.contnt2 .project{

    backdrop-filter: blur(15px);
    padding: 2%; 
}

.contnt3{
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url(../imgs/200.jpg); */
    margin: 1% 0 0 7%;
    height: 200px;
    width: 85%;
    border: 1px solid black;
}

.intro h3{
    text-align: center;
}

.fc1{
    margin: 3% 0 0 25%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 50%;
}

.fc1 img{
    width: 25px;
}

.fc2{
    margin: 4% 0 0 15%;
    width: 70%;
}

.contnt3 .fc2 ul li a{
    color: black;
    text-decoration: none;
}

.contnt3 .fc2 ul li a:hover{
    color: brown;
    transition: .8s;
    cursor: pointer;
}

.fc3{
    width: 20%;
    margin: 4% 0 0 40%;
}
