body{
    background: white;
    color: black;
}

.text-align{
    text-align: center;
}

.t3hcont h1,
.t3hcont h2{
    margin: 2% 0 2% 0;
}

/* header.php */

.headmc{
    display: grid;
    grid-template-columns: 10% 90%;
    width: 100%;
}

.headercontner{
    height: 100px;
}

.headercontner h1{
    margin: 3% 0 0 1%;
}

.logocontner{
    background-image: url(/imgs/10.jpeg);
    background-size: cover;
    background-position: 40%;
    background-repeat: no-repeat;
    border-radius: 20px;
}


.navcontner{
    margin: 0 0 0 45%;
    text-align: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 55%;
}

.navcontner a{
    width: 65px;
    margin: 0 0 0 5%;
    padding: 1%;
    color: rgb(50, 50, 50);
    text-decoration: none;
}

.navcontner a:hover{
    transition: .8s;
    color: salmon;
}

/* index.php */

.maincont,
.maincontt2,
.maincontt3{
    background: aliceblue;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 2px solid black;
    height: 700px;
    width: 100%;
}

.maincontt2{
    grid-template-columns: 25% 50% 25%;
}

.maincontt3{
    grid-template-columns: 11% 82% 7%;
}


/* 
.imggcont{
    width: 40px;
    padding: 2%;
    border: 1px solid white;
    border-radius: 8px;
} */

.contner,
.contner3{
    height: 380px;
    margin: 0.5%;
    background: azure;
}

.contner3{
    height: 400px;
    margin: 0;
}

.sbc{
    background: tan;
    border: 2px solid black;
}
/*-----------------------------blog.php-------------------------------------------------------------------------------------------------------*/


.logoutbtn{
    margin: 2% 0 0 1%;
    border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
    text-decoration: none;
    color: rgb(50, 50, 50);
    padding: 1% 2% 1% 2%;
    background: tan;
}

.logoutbtn:hover{
    transition: .8s;
    color: tan;
    background: black;
}


.cont0 img{
    margin: 15% 0 0 13%;
    width: 200px;
    border-radius: 100px;
}

.cont0 .imgcnt{
    margin: 30% 0 0 20%;
    /* border: 1px solid tan; */
}

.formcontner{
    position: relative;
    margin: 1%;
    padding: 1%;
}

form{
    border-radius: 30px;
}

.acont{
    margin: 2% 0 0 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

#formsi a{
    font-size: 12px;
    padding: 1% 3% 1% 3%;
    color: rgb(50, 50, 50);
}

#formsi a:hover{
    border-radius: 10px;
    transition: .8s;
    color: deeppink;
}

form input{
    text-align: center;
    border-radius: 10px;
    margin: 1%;
}

form input[type="text"],
form input[type="password"]{
    border: 1px solid rgb(50, 50, 50);
    background: transparent;
    color: rgb(50, 50, 50);
    height: 20px;
}

#formsub{
    border-radius: 30px;
    margin: 3% 0 2% 0;
    padding: 1% 3% 1% 3%;
    font-size: 12px;
    background: rgb(50, 50, 50);
    color: beige;
}

#formsub:hover{
    transition: .8s;
    color: rgb(50, 50, 50);
    background: beige;
}

#formsu{
    /*backdrop-filter: blur(10px);*/
    text-align: center;
    margin: 12% 0 0 25%;
    height: 240px;
    width: 55%;
    border: 2px solid rgb(50, 50, 50);
}

#formsi{
    /*backdrop-filter: blur(10px);*/
    text-align: center;
    margin: 12% 0 0 25%;
    height: 220px;
    width: 55%;
    border: 2px solid rgb(50, 50, 50);
}

#formsi a{
    color: rgb(50, 50, 50);
    text-decoration: none;
}


/* ----------- */

span{
    color: burlywood;
}

.about{
    /* background-image: url(imgs/cshero.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background: azure;
    text-align: center;
}

/* about.php */

.aboutdescr{
    color: rgb(50, 50, 50);
}

.aboutpcontner{
    margin: 0 0 0 10%;
    border: 1px solid rgb(50, 50, 50);
    width: 80%;
}

.subscribecontner{
    height: 100%;
    margin: 2% 0 0 0;
}

#email{
    font-size: 12px;
    height: 25px;
    width: 40%;
}

.subp{
    margin: 0 0 0 20%;
    width: 50%;
}


/* contact.php */

.contactcontner{
    height: 250px;
    width: 50%;
    margin: 10% 0 0 25%;
    border: 1px solid rgb(50, 50, 50);
}

.contactcontner form #email{
    width: 50%;
}

#textarea{
    border: 1px solid rgb(50, 50, 50);
    border-radius: 10px;
    margin: 2%;
    color: beige;
    height: 50px;
    width: 60%;
    background: transparent;
    text-align: center;
}

/* footer.php */

.footercontner{
    background: azure;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% 50%;
    height: 200px;
    margin: 1% 0 1% 0;
    width: 100%;
    border: 2px solid rgb(50, 50, 50);
    color: rgb(50, 50, 50);
}

.fpcontner{
    margin: 1% 0 0 50%;
    text-align: center;
    height: 40px;
    width: 45%;
}

.linkscontner{
   width: 800px; 
}

.linkscontner nav ul{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.linkscontner nav ul li{
    display: inline;
}

.linkscontner nav ul li a{
    text-decoration: none;
    color: rgb(50, 50, 50);
}

.linkscontner nav ul li a:hover{
    color: deeppink;
    transition: .8s;
}

.iconcontner{
    margin: 5% 0 0 10%;
    width: 400px;   
    text-align: center;
}

.iconcontner p{
    margin: 2% 0 2% 32%;
    width: 40%;
}

.iconcontner i{
    margin: 1%;
    font-size: 26px;
    /*background: brown;*/
    width: 30px;
    color: rgb(50, 50, 50);
}

.iconcontner i:hover{
    transition: .8s;
    color: beige;

}

