
/*----------------------Swiper---------------------------------------------------------------------*/
/* .swiper {
    width: 700px;
    height: 300px;
  } */

  /*---------------t3 contner----------------------------------------------------------------*/

  .t3gallery.ggcont.swiper{
    height: 300px;
    width: 100%;
    margin: 0;
}

.gallerycont.swiper-wrapper{
    width: 100%;
    height: 300px;
}


.imggcont.swiper-slide{
    margin: 1% 0.5% 0 0.5%;
    border: 1px solid rgb(50, 50, 50);
    width: 380px;
}

.swiper-button-next,
.swiper-button-prev{
    padding: 2%;
    color: white;
    background: rgb(50, 50, 50);
    border-radius: 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    border: 1px solid black;
    transition: .8s;
    background: white;
    color: black;
}

/*----------------------Swiper Imgs finally!-------------------------------------------------------------------------------*/

.imggcont.swiper-slide{
    border: 1px solid black;
    background-size: cover;
    background-repeat: no-repeat;
}

#a1.imggcont.swiper-slide{background-image: url(../imgs/46.jpeg);
}
#a2.imggcont.swiper-slide{background-image: url(../imgs/56.jpeg);
}
#a3.imggcont.swiper-slide{background-image: url(../imgs/33.jpeg);
}
#a4.imggcont.swiper-slide{background-image: url(../imgs/34.jpg);
}
#a5.imggcont.swiper-slide{background-image: url(../imgs/35.jpg);
}
#a6.imggcont.swiper-slide{background-image: url(../imgs/36.jpg);
}
#a7.imggcont.swiper-slide{background-image: url(../imgs/37.jpg);
}
#a8.imggcont.swiper-slide{background-image: url(../imgs/38.jpg);
}
#a9.imggcont.swiper-slide{background-image: url(../imgs/39.jpg);
}
#a10.imggcont.swiper-slide{background-image: url(../imgs/40.jpeg);
}
#a11.imggcont.swiper-slide{background-image: url(../imgs/48.jpeg);
}
#a12.imggcont.swiper-slide{background-image: url(../imgs/49.jpeg);
}
#a13.imggcont.swiper-slide{background-image: url(../imgs/50.jpeg);
}
#a14.imggcont.swiper-slide{background-image: url(../imgs/51.jpeg);
}
#a15.imggcont.swiper-slide{background-image: url(../imgs/52.jpeg);
}
#a16.imggcont.swiper-slide{background-image: url(../imgs/53.jpeg);
}
#a17.imggcont.swiper-slide{background-image: url(../imgs/54.jpeg);
}
#a18.imggcont.swiper-slide{background-image: url(../imgs/55.jpeg);
}
#a19.imggcont.swiper-slide{background-image: url(../imgs/56.jpeg);
}
#a20.imggcont.swiper-slide{background-image: url(../imgs/57.jpeg);
}
#a21.imggcont.swiper-slide{background-image: url(../imgs/58.jpeg);
}
#a22.imggcont.swiper-slide{background-image: url(../imgs/59.jpeg);
}
#a23.imggcont.swiper-slide{background-image: url(../imgs/70.jpeg);
}
#a24.imggcont.swiper-slide{background-image: url(../imgs/71.jpeg);
}
#a25.imggcont.swiper-slide{background-image: url(../imgs/62.jpeg);
}
#a26.imggcont.swiper-slide{background-image: url(../imgs/63.jpeg);
}
#a27.imggcont.swiper-slide{background-image: url(../imgs/65.jpeg);
}
#a28.imggcont.swiper-slide{background-image: url(../imgs/64.jpeg);
}
#a29.imggcont.swiper-slide{background-image: url(../imgs/76.jpeg);
}
#a30.imggcont.swiper-slide{background-image: url(../imgs/66.jpeg);
}